body {
    max-width: 1600px;
    margin: 0 auto;
    font-family: inter;
}
.navbar-sec {
    background-color: #1A0B2E;
    max-width: 1600px;
    display: flex;
    border-bottom: 0.5px solid white;
}
.navbar {
    max-width: 1200px;
    width: 100%;
    background-color: #1A0B2E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.navbar ul {
    display: flex;
    gap: 32px;
    list-style: none;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
}
.hero-sec {
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1600px;
    padding: 100px 0px;
}
.hero {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
/* .hero img {
    padding: 0px 100px 40px;
} */
.hero h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
    margin: 10px auto 0px;
}
.hero p {
    font-size: 16px;
    color: white;
    margin: 24px auto;
}