* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter;
}
.navbar-sec {
  background-color: #1a0b2e;
  max-width: 1600px;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.322);
}
.navbar {
  max-width: 1200px;
  width: 100%;
  background-color: #1a0b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0px;
}

.navbar ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.hero-sec {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px; /* important! cover the container */
  background-position: center;
  background-size: cover;
  padding: 100px 0px;
}
.hero {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero-image-div {
  background-image: url(../images/hero-circle.png);
  background-repeat: no-repeat;
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.new-badge {
  position: absolute;
  top: 15px;
  right: 20px;
  background-color: #00ff85;
  color: #1a0b2e;
  font-size: 18px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(0, 255, 133, 0.6);
  animation: pulse 1.8s infinite;
}
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 133, 0.5);
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 25px rgba(0, 255, 133, 0.9);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 10px rgba(0, 255, 133, 0.5);
  }
}

.hero-btn {
  display: flex;
  gap: 8px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin-top: 40px;
}
.hero p {
  font-size: 16px;
  color: white;
  margin: 24px auto;
}
.gradient-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff7a18, #ea01ff, #8c00ff);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.gradient-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff7a18, #ea01ff, #8c00ff);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  border-radius: 25px;
  color: #00ff88;
  font-size: 16px;
  font-weight: 500px;
}

.about-podcast-sec {
  background-color: #1a0b2e;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text-div {
  max-width: 1200px;
  width: 100%;
  text-align: center;
  margin: 50px 0 80px;
}
.text-div h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: 800;
  color: white;
}
.text-div p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.753);
}
.rating-div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 120px;
  border-top: 1px solid rgba(255, 255, 255, 0.356);
  padding-top: 80px;
}

.rating-card {
  text-align: center;
}
.rating-card h1 {
  font-size: 48px;
  font-weight: 900;
  color: #00ff85;
  margin-bottom: 16px;
}
.rating-card p {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.726);
}

.grid-layout-sec {
  background-color: #230e3d;
  max-width: 1600;
}
.grid-layout-container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
}
.grid-layout {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "card1 card2 card2"
    "card1 card2 card2"
    "card1 card2 card2"
    "card1 card3 card3"
    "card1 card3 card3"
    "card1 card3 card3"
    "card4 card4 card5"
    "card4 card4 card5"
    "card4 card4 card5"
    "card4 card4 card5";
}
.grid-layout-container h2 {
  text-align: center;
  margin-bottom: 40px;
  color: white;
  font-size: 48px;
  font-weight: bold;
}
.card {
  background-color: #351165;
  border-radius: 30px;
  padding: 40px;
}
.card h1 {
  font-size: 24px;
  font-weight: 700;
  color: white;
  margin: 16px 0px;
}
.card p {
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.548);
}

.card1 {
  grid-area: card1;
}
.card2 {
  grid-area: card2;
}
.card3 {
  grid-area: card3;
}
.card4 {
  grid-area: card4;
}
.card5 {
  grid-area: card5;
}

.play-list {
  background-color: #351165;
  border-radius: 20px;
  width: 380px;
  overflow: hidden;
}
.description {
  padding: 24px;
}
.description h3 {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
.description p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.562);
  line-height: 24px;
  margin: 12px 0px;
}
.description span {
  color: #00ff85;
  font-size: 16px;
  font-weight: 700;
}
.playlist-main-div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
}
.featured-episode-container {
  background-color: #1a0b2e;
  max-width: 1600px;
  padding: 120px 0px;
}
.featured-area h1, .meet-the-host h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  color: white;
  text-align: center;
}
.host-details-container {
  background-color: #351165;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  gap: 25px;
  align-items: center;
}
.meet-the-host {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  
}
.host-details h3 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  
}
.host-details p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.596);
  line-height: 24px;
  margin: 16px 0;
}
.host-icons {
  display: flex;
  gap: 20px;
}
.host-icons img {
  height: 30px;
  width: 30px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.363);
  border-radius: 50%;
}
footer {
  
  max-width:  1600px;
  background-image: url(../images/footer-bg.png);
  background-position: center;
  background-size: cover;
}
.footer-div {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 120px 0px;
}
.footer-logo {
height: 60px;
width: 410px;
}
.footer-div p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.753);
}
.social-icons {
display: flex;
gap: 8px;
}
.icon-group {
  margin: 32px 0;
  width: 544px;
  display: flex;
  justify-content: space-between; 
}

.gradient-btn,
.gradient-btn2,
.subscribe-btn {
  transition: 
    transform 0.3s ease,
    filter 0.3s ease;
}

.gradient-btn:hover,
.gradient-btn2:hover,
.subscribe-btn:hover,
.navbar ul li a:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(234, 1, 255, 0.35);
}

