body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: inter;
}
.navbar-sec {
  background-color: #1a0b2e;
  max-width: 1600px;
  display: flex;
  border-bottom: 0.5px solid white;
}
.navbar {
  max-width: 1200px;
  width: 100%;
  background-color: #1a0b2e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 16px 0px;
}

.navbar ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.navbar ul li a {
  text-decoration: none;
  color: white;
}
.hero-sec {
  background-image: url(../images/hero-bg.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1600px;      /* important! cover the container */
  background-position: center;
  padding: 100px 0px;
}
.hero {
  width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero-image-div {
    background-image: url(../images/hero-circle.png);
    background-repeat: no-repeat;     
    height: 350px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: relative;        
}
.new-badge {
    position: absolute;
    top: 15px;    
    right: 20px;  
    background-color: #00FF85; 
    color: #1a0b2e;    
    font-size: 18px;
    font-weight: 700;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 255, 133, 0.6); 
}



.hero-btn {
  display: flex;
  gap: 8px;
}

.hero h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 10px auto 0px;
}
.hero p {
  font-size: 16px;
  color: white;
  margin: 24px auto;
}
.gradient-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff7a18, #ea01ff, #8c00ff);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.gradient-btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  padding: 12px 16px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(90deg, #ff7a18, #ea01ff, #8c00ff);
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9px;
  background-color: transparent;
  padding: 12px 20px;
  border: 1px solid #00ff88;
  border-radius: 25px;
  color: #00ff88;
  font-size: 16px;
  font-weight: 500px;
}




   



